<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.brujula" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Camara</name>
    <description>
        Camara
    </description>
    <author email="hernanbeati@gmail.com" href="http://www.responsivewebdesign.com.ar">
        Pedro Balza
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    
    <icon src="icon.png" />

	<icon src="res/mipmap-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="res/mipmap-mdpi/ic_launcher.png.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="res/mipmap-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="res/mipmap-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="res/mipmap-xxxhdpi/ic_launcher.png" gap:platform="android" />

    <gap:splash src="splash.png" />
   
    <access origin="*" />
</widget>
